
body {
    font-family: Arial, sans-serif;
}

.post {
    max-width: 500px;
}
.fa-html5 {
font-size: 40px;
margin-right: 5px;
}
.post-image img {
    width: 100%; 
}

.post header {
    border-radius: 10px 10px 0 0;
}

.post .likes {
    font-size: 0.9rem;
}

.post .content p {
    font-size: 0.9rem;
}
